:root {
    --d-color-toolbar: rgb(0, 163, 0);
    --d-color-sombra-toolbar: #fffefe;
    --d-color-content: rgb(255, 255, 255);
    --d-color-sombra-content: rgb(255, 255, 255);
    --d-color-content-hover: #ffffff;
    --d-color-content-active: #5436F5;
    --d-color-content-section: rgb(156, 156, 156);
    --d-color-button: #cccccc;
    --d-color-button-active: #E3E3E3;
    --d-color-principal: #FFFFFF;
	--d-color-segcundario:#00E602;
    --d-width-menu: 30vw;
}

body {
    margin: 0;
    box-sizing: content-box;
}

*{
  margin:0;
}

.d-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--d-color-content);
    /*box-shadow: 3px 3px var(--d-color-sombra-content);*/
}

.d-content {
    display: flex;
    flex-direction: column;
    background-color: var(--d-color-content)
}

.d-content:hover {
    background-color: var(--d-color-content-hover);
}

.d-content:active {
    background-color: var(--d-color-content-hover);
}

.d-content-section {
    position: relative;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    background-color: var(--d-color-content-section);
}

.d-principal-content {
    top:60px;
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
	margin-bottom:1px;
}

.d-topbar {
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: var(--d-color-toolbar);
    box-shadow: 0px 2px var(--d-color-sombra-toolbar);
}
.d-topbar>*{
  margin-left:5px;
  margin-right:5px;
}

button, input[type=button] {
    position: relative;
    height: 40px;
    margin: 5px;
    padding: 10px;
    background-color: var(--d-color-button);
    border: 0;
    outline: none;
    font-size: 20px
}

button:active, input[type=button]:active {
    background-color: var(--d-color-button-active);
}
.d-header-menu{
  position:relative;
  width:100%;
  height:30vh;
  background-color:var(--d-color-segcundario);
  
}
.d-menu {
    display: none;
    position: fixed;
    width: var(--d-width-menu);
    height: 100vh;
    z-index: 2;
    left: 0;
    padding: 0px;
    background-color: var(--d-color-principal)
}

.d-item-menu {
    display:flex;
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 1px;
	align-items:center;
    background-color: var(--d-color-button)
}
.d-item-menu>*{
  margin-left:5px;
  margin-right:5px;
}

.d-item-menu:active{
  background-color: var(--d-color-button-active) !important;
}

.d-input-content{
    position: relative;
    background-color: rebeccapurple;
    width: 200px;
    height: 30px;
}
.d-input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 25px;
    border: none;
    padding: 10px;
}
.d-input-title{
    position:relative;
    width: 200px;
    height: 200px;
    background-color: #00E602;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(8, 8, 8, 0.1);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

@media only screen and (max-width:900px) {
    :root{
        --d-width-menu: 40vw;
    }
}

@media only screen and (max-width:700px) {
    :root{
        --d-width-menu: 50vw;
    }
}

@media only screen and (max-width:600px) {
    :root{
        --d-width-menu: 60vw;
    }
}

@media only screen and (max-width:500px) {
    :root{
        --d-width-menu: 80vw;
    }
}

@keyframes animation-menu-show {
    from {
        width: 0px;
    }
    to {
        width: var(--d-width-menu)
    }
}

@keyframes animation-menu-hidden {
    from {
        width: 30vw;
    }
    to {
        width: 0px;
    }
}

@keyframes animation-input-text {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}


/* Safari 4.0 - 8.0 */

/*@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}*/
