:root {
    --d-color-toolbar: #512DA8;
    --d-color-sombra-toolbar: #fffefe;
    --d-color-content: rgb(255, 255, 255);
    --d-color-sombra-content: rgb(255, 255, 255);
    --d-color-content-hover: #ffffff;
    --d-color-content-active: #5436F5;
    --d-color-content-section: rgb(156, 156, 156);
    --d-color-button: #cccccc;
    --d-color-button-active: rgb(148, 30, 30);
    --d-color-button-hover: rgb(189, 188, 188);
    --d-color-principal: rgb(255, 255, 255);
    --d-color-segcundario:#00E602;
    --d-color-menu-close:rgba(0, 0, 0, 0.505);
    --d-color-menu-header:rgb(0, 132, 194);
    --d-color-content-items:rgb(255, 255, 255);
    --d-width-menu: 20vw;
    --d-width-menu-close:80vw;
    --d-color-loader-principal:#f3f3f3;
    --d-color-loader-loading:#2600ff;
}

body {
    margin: 0;
    box-sizing: content-box;
}

*{
  margin:0;
}

.d-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--d-color-content);
    /*box-shadow: 3px 3px var(--d-color-sombra-content);*/
}

.d-content {
    display: flex;
    flex-direction: column;
    background-color: var(--d-color-content)
}

.d-content:hover {
    background-color: var(--d-color-content-hover);
}

.d-content:active {
    background-color: var(--d-color-content-hover);
}

.d-content-section {
    position: relative;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    background-color: var(--d-color-content-section);
}

.d-principal-content {
    top:0px;
    position: relative;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom:1px;
    width: 100%;
}

.d-topbar {
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: var(--d-color-toolbar);
    box-shadow: 0px 2px var(--d-color-sombra-toolbar);
}
.d-topbar>*{
  margin-left:5px;
  margin-right:5px;
}

/*.d-content-topbars {
    
    margin: 0;
    height: 960px;
    width: 100%;
    background-color:red;
    box-shadow: 0px 2px var(--d-color-sombra-toolbar);
}
.d-content-topbars>*{
  margin-left:5px;
  margin-right:5px;
}*/

button, input[type=button] {
    position: relative;
    height: 40px;
    margin: 5px;
    padding: 10px;
    background-color: var(--d-color-button);
    border: 0;
    outline: none;
    font-size: 20px
}

button:active, input[type=button]:active {
    background-color: var(--d-color-button-active);
}
.d-header-menu{
  position:relative;
  width:100%;
  height:30vh;
  background-color:var(--d-color-menu-header);
  
}

.d-menu {
    position: fixed;
    display:none !important;
    flex-direction:row !important;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    left: 0;
    padding: 0px;
}
.d-content-menu{
  width:var(--d-width-menu);
  height:100%;
  position:relative;
  overflow-x: hidden;
}
.d-close-menu{
  width:var(--d-width-menu-close);
  height:100vh;
  position:relative;
  background-color:var(--d-color-menu-close);
  opacity: 0.5;
}
.d-content-items{
  display: flex ;
  flex-direction: column;
  align-content: center ;
  position:relative;
  width:100%;
  height:100%;
  overflow-x: hidden;
  background-color: var(--d-color-content-items);
}

.d-item-menu {
    display:flex;
    padding: 3px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 1px;
	align-items:center;
    background-color: var(--d-color-button)
}
.d-item-menu>*{
  margin-left:5px;
  margin-right:5px;
}

.d-item-menu:active{
  background-color: var(blue) !important;
}

.d-item-menu:hover{
    background-color: var(--d-color-button-hover) !important;
  }

.d-input{
    width: 100px;
    height: 30px;
    border-radius: 40px 40px 40px 40px;
    border: 1px;
    margin: 2px;
    text-align: center;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.d-input:focus{
    width: 150px;
    outline: 0;
}

/*.d-input-content{
    position: relative;
    background-color: rebeccapurple;
    width: 200px;
    height: 50px;
	display:flex;
	flex-direction:column;
}
.d-input{
    height: 10%;
    outline: none;
    font-size: 25px;
    border: none;
    padding: 10px;
}
.d-input-title{
    position:relative;
    width: 200px;
    background-color: #00E602;
}

/*.d-icon{
  position:relative;
  width:100px;
  height:100px;
  background-color:Red;
}*/

.d-icon{
  position:relative;
  width:50px;
  height:50px;
  top:0px;
}
/**********search**********/
.d-icon-search{
  content:'';
  position:relative;
  max-width:100px;
  width: 10px;
  max-height:100px;
  height:10px;
  border-radius:50%;
  border:2px solid #ffffff;
}

.d-icon-search::after{
  content:'';
  position:absolute;
  height:10px;
  width:2px;
  background-color:White;
  top:8px;
  left:13px;
  -moz-transform: rotate(-45deg); 
 -webkit-transform: rotate(-45deg);
}
/**********************/

/***********************/

.d-icon-sub-menu{
  position:relative;
  width:5px;
  height:5px;
  border-radius:50%;
  background-color:var(--d-color-principal)
}

.d-icon-sub-menu::after{
  content:'';
  position:absolute;
  width:5px;
  height:5px;
  border-radius:50%;
  top:8px;
  background-color:var(--d-color-principal)
}
.d-icon-sub-menu:before{
  content:'';
  position:absolute;
  width:5px;
  height:5px;
  border-radius:50%;
  top:-8px;
  background-color:var(--d-color-principal)
}

/************************/

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(8, 8, 8, 0.1);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

@media only screen and (max-width:900px) {
    :root{
        --d-width-menu: 40vw;
    }
}

@media only screen and (max-width:700px) {
    :root{
        --d-width-menu: 50vw;
    }
}

@media only screen and (max-width:600px) {
    :root{
        --d-width-menu: 60vw;
    }
}

@media only screen and (max-width:500px) {
    :root{
        --d-width-menu: 80vw;
    }
}

@keyframes animation-menu-show {
    from {
        width: 200px;
    }
    to {
        width: var(--d-width-menu)
    }
}

@keyframes animation-menu-hidden {
    from {
        width: 30vw;
    }
    to {
        width: 0px;
    }
}

@keyframes animation-input-text {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}


/* Safari 4.0 - 8.0 */

/*@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}*/

/********* LOADER ***************/

.d-loader {
    border: 10px solid var(--d-color-loader-principal);
    border-radius: 50%;
    border-top: 10px solid var(--d-color-loader-loading);
    width: 50px;
    height: 50px;
    -webkit-animation: d-loader 2s linear infinite;
    animation: d-loader 2s linear infinite;
}

@-webkit-keyframes d-loader{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes d-loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}